/*** 

====================================================================
    Call to Action
====================================================================

***/

.call-to-action {
  position: relative;
  padding: 21px 0 0;
  .outer-box {
    position: relative;
    padding: 59.2px 60px;
    @include flex-between;
    @include media-breakpoint-down(md){
      flex-direction: column;
      justify-content: center;
    }
    @include media-breakpoint-down(sm){
      padding: 30px 10px;
    }
    .bg {
      &:before {
        background-color: #171717;
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        background-repeat: no-repeat;
        background-image: url(../images/icons/shape-1.png);
        content: "";
        background-size: contain;
        background-position: 0 45px;
        opacity: 0.75;
        @include media-breakpoint-down(lg) {
          background-position: bottom left;
        }
      }
    }
    .title-box {
      position: relative;
      display: flex;
      align-items: center;
      @include media-breakpoint-down(md){
        flex-direction: column;
        justify-content: center;
        margin-bottom: 30px;
        text-align: center;
      }
      .icon {
        position: relative;
        color: var(--theme-color-light);
        font-size: 60px;
        margin-right: 30px;
        @include media-breakpoint-down(md){
          margin-bottom: 20px;
          margin-right: 0;
        }
      }
      .title {
        position: relative;
        color: var(--theme-color-light);
        font-weight: 600;
        letter-spacing: .1px;
        margin-bottom: 0;
      }
    }

    .theme-btn {
      padding: 20px 50px;
    }
  }
}

/*** 

====================================================================
    Call to Action Two
====================================================================

***/

.call-to-action-two {
  position: relative;
  overflow: hidden;
  &.pull-down {
    margin-bottom: -102px;
    z-index: 3;
    @include media-breakpoint-down(lg){
      margin-bottom: 0;
    }
  }
  .outer-box {
    position: relative;
    padding: 55px 100px;
    @include flex-between;
    background: var(--theme-color1);
    @include media-breakpoint-down(xl){
      padding: 55px 50px;
    }
    @include media-breakpoint-down(lg){
      padding: 50px 20px;
      flex-direction: column;
      justify-content: center;
    }
    &:before {
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
      background-repeat: no-repeat;
      background-image: url(../images/icons/shape-5.png);
      content: "";
      background-position: bottom center;
      background-size: contain;
    }

    .title {
      position: relative;
      color: var(--text-color-bg-theme-color1);
      font-weight: 800;
      letter-spacing: .2px;
      margin-bottom: 0;
      @include media-breakpoint-down(lg){
        text-align: center;
        margin-bottom: 20px;
      }
      @include media-breakpoint-down(sm){
        br {display: none;}
        font-size: 20px;
      }
    }

    .icon-box {
      position: relative;
      margin-left: -55px;
      @include media-breakpoint-down(lg){
        margin-left: 0;
        margin-bottom: 20px;
      }
      .icon {
        position: relative;
        width: 94px;
        height: 94px;
        font-size: 36px;
        @include flex-center;
        border-radius: 50%;
        color: var(--theme-color1);
        background-color: var(--theme-color-light);
        z-index: 1;
      }
    }

    .contact-box {
      margin-right: 20px;
      @include media-breakpoint-down(lg){
        margin-right: 0;
        text-align: center;
      }
      h6 {
        position: relative;
        color: var(--text-color-bg-theme-color1);
        font-size: 14px;
        font-weight: 800;
        margin-bottom: 5px;
      }
      .contact {
        position: relative;
        color: var(--text-color-bg-theme-color1);
        font-size: 24px;
        font-weight: 800;
        a {
          color: var(--text-color-bg-theme-color1);
          font-size: 24px;
          font-weight: 800;
        }
      }
    }
  }
}

/*** 

====================================================================
    Call to Action Three
====================================================================

***/

.call-to-action-three {
  padding: 103px 0 90px;
  position: relative;
  .bg {
    &:before {
      background-color: transparent;
      background: linear-gradient(180deg,#222429 0%,#222429 100%);
      content: '';
      @include overlay;
      opacity: .6;
    }
  }
  .icon-lines-25{
    background-position: center center;
    background-repeat: no-repeat;
    position: absolute;
    right: 20%;
    opacity: 0.5;
  }
  .sec-title {
    margin-bottom: 30px;
    h1{
      font-size: 64px;
      letter-spacing: -0.64px;
      @include media-breakpoint-down(md){
        font-size: 36px;
      }
    }
  }
}