/*** 

====================================================================
Reset
====================================================================

***/

*{
    margin:0px;
    padding:0px;
    border:none;
    outline:none;
    font-size: 100%;
}

/*** 

====================================================================
Global Settings
====================================================================

***/

textarea{
    overflow:hidden;    
    resize: none;
}

button{
    outline: none !important;
    cursor: pointer;
}

img {
    display: inline-block;
    max-width: 100%;
    height: auto;
}

ul,
li {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.title a{
    color: inherit;
}

.color1{color: var(--theme-color1);}
.color2{color: var(--theme-color2);}
.color3{color: var(--theme-color3);}

.page-wrapper {
    position: relative;
    margin: 0 auto;
    width: 100%;
    min-width: 300px;
    overflow: hidden;
    z-index: 99;
    background-color: #ffffff;
}

.large-container {
    position: static;
    max-width:var(--large-container-width);
    padding: 0px 15px;
    margin: 0 auto;
    width: 100%;
}

.auto-container{
    position:static;
    max-width:var(--container-width);
    padding:0px 15px;
    margin:0 auto;
    width: 100%;
}

.small-container{
    position:static;
    max-width:var(--small-container-width);
    padding:0px 15px;
    margin: 0 auto;
    width: 100%;
}

.pull-right {
    float: right;
}

.pull-left {
    float: left;
}

.dropdown-toggle::after {
    display: none;
}


/*=======================
Scroll To Top style
=======================*/

.scroll-to-top {
  position: fixed;
  right: 20px;
  bottom: 20px;
  width: 40px;
  font-size: 16px;
  line-height: 40px;
  color: var(--text-color-bg-theme-color1);
  text-align: center;
  cursor: pointer;
  background-color: var(--theme-color1);
  z-index: 100;
  display: none;
  border-radius: 50%;
  margin: 0 auto;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.10);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.10);
  @include transition(all 300ms ease);
  a{
    color: var(--text-color-bg-theme-color1);
  }
}

.scroll-to-top:hover {
    background: var(--theme-color-dark);
    color: var(--theme-color-light);
}

.link-style-one{
    position: relative;
    display: inline-flex;
    align-items: center;
    font-size: 12px;
    line-height: 20px;
    font-weight: 600;
    overflow: hidden;
    letter-spacing: .01em;
    text-transform: uppercase;
    @include title-font;
    color: var(--theme-color-dark);
    &:before{
        position: absolute;
        left: 0;
        right: 18px;
        bottom: 2px;
        height: 1px;
        background-color: var(--r1);
        content: "";
        @include transition(all 300ms ease);
    }
    i {
        position: relative;
        top: 1px;
        display: block;
        font-size: 14px;
        margin-left: 5px;
        transform: rotate(45deg);
    }
    &:hover{
        color: var(--theme-color1);
        &:before{
            right: 100%;
        }
    }
}

/*=== List Style One ===*/
.list-style-one {
  display: flex;
  padding: 12px 0;
  position: relative;
  li {
    align-items: center;
    color: var(--theme-color-dark);
    display: flex;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: -.02em;
    line-height: 20px;
    margin-right: 20px;
    position: relative;
    &:last-child {
      margin-right: 0;
    }
    i {
      color: var(--theme-color1);
      font-size: 14px;
      line-height: 1em;
      margin-right: 10px;
      position: relative;
      top: 1px;
    }
    a {
      color: var(--theme-color-dark);
      display: block;
      @include transition(all 300ms ease);
      &:hover{
        color: var(--theme-color-light);
      }
    }
  }
  &.light {
    li,
    a,
    i {
      color: var(--theme-color-light) !important;
    }
    a {
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

/*=== List Style Two ===*/
.list-style-two {
  padding: 12px 0;
  position: relative;
  li {
    color: #181818;
    display: inline-block;
    font-size: 18px;
    font-weight: 600;
    line-height: 40px;
    position: relative;
    &:last-child {
      margin-right: 0;
    }
    i {
      color: var(--theme-color1);
      font-size: 1.2rem;
      margin: 0 10px 0 0;
      margin-right: 10px;
      position: relative;
      top: 1px;
    }
    a {
      display: block;
      color: var(--theme-color-dark);
      @include transition(all 300ms ease);
      &:hover{
        color: var(--theme-color-light);
      }
    }
  }
  &.light {
    li,
    a,
    i {
      color: var(--theme-color-light) !important;
    }
    a {
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.social-icon-one{
  display: flex;
  flex-wrap: wrap;
  position:relative;
  li{
    display: inline-block;
    margin-left: 20px;
    &:last-child{
      margin-right: 0;
    }
    a {
      color: var(--theme-color2);
      display: block;
      font-size: 16px;
      line-height: 1em;
      position: relative;
      &:hover {
        color: var(--theme-color1);
      }
    }
  }
}

/*Social Icon Two*/
.social-icon-two{
  display: flex;
  position: relative;
  li {
    display: flex;
    margin-right: 8px;
    position: relative;
    &:last-child{
      margin-right: 0;
    }
    a {
      border-radius: 50%;
      background: var(--gradient-2);
      color: var(--theme-color-light);
      font-size: 14px;
      display: block;
      height: 42px;
      line-height: 41px;
      position: relative;
      text-align: center;
      width: 41px;
      @include transition(all 300ms ease);
      i{
        position: relative;
      }
      &::before{
        @include overlay;
        transform: scale(0);
        border-radius: 50px;
        background-color: var(--theme-color1);
        @include transition(all 300ms ease);
        content: "";
      }
      &:hover {
        color: var(--theme-color-light);
        &:before{
          transform: scale(1);
        }
      }
    }
  }
}

/*Social Icon Three*/
.social-icon-three{
  display: flex;
  position: relative;
  li {
    display: flex;
    margin-right: 8px;
    position: relative;
    &:last-child{
      margin-right: 0;
    }
    a {
      border-radius: 50%;
      background: var(--theme-color-light);
      color: var(--theme-color1);
      font-size: 14px;
      display: block;
      height: 32px;
      line-height: 32px;
      position: relative;
      text-align: center;
      width: 32px;
      @include transition(all 300ms ease);
      i{
        position: relative;
      }
      &::before{
        @include overlay;
        transform: scale(0);
        border-radius: 50px;
        background-color: var(--theme-color1);
        @include transition(all 300ms ease);
        content: "";
      }
      &:hover {
        color: var(--text-color-bg-theme-color1);
        &:before{
          transform: scale(1);
        }
      }
    }
  }
}

/*=======================
  List Styles
=======================*/
.list-style-three {
  margin-top: 28px;
  li {
    color: var(--text-color);
    font-size: 16px;
    margin-bottom: 8px;
    padding-left: 35px;
    position: relative;
  }
  .icon {
    color: var(--theme-color1);
    left: 0;
    position: absolute;
    top: 0;
  }
  i {
    color: var(--theme-color1);
    font-size: 18px;
    left: 0px;
    line-height: 22px;
    position: absolute;
    top: 0px;
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
  }
}

.bg{
  @include overlay;
  @include background;
}

.bg-pattern-1{background-image: url(../images/icons/pattern-1.jpg);}
.bg-pattern-2{background-image: url(../images/icons/pattern-2.png);}
.bg-pattern-3{background-image: url(../images/icons/pattern-3.png);}
.bg-pattern-4{background-image: url(../images/icons/pattern-4.png);}
.bg-pattern-5{background-image: url(../images/icons/pattern-5.png);}
.bg-pattern-6{background-image: url(../images/icons/pattern-6.jpg);}


/*======================
  Tabs Box
======================*/

.tabs-box{
  position: relative;
}
.tabs-box .tab{
  display: none;
}
.tabs-box .active-tab{
  display: block;
}
.play-btn{
  display: inline-block;
  position: relative;
  &:hover{
    .icon{
      background-color: var(--theme-color1);
      color: var(--theme-color-light);
    }
  }
  .icon{
    background-color: var(--theme-color2);
    color: var(--theme-color-light);
    @include flex-center;
    font-size: 28px;
    height: 140px;
    @include transition(all 300ms ease);
    width: 140px;
  }
  .circle-text{
    img{
      animation: fa-spin 60s infinite linear;
      display: inline-block;
      position: relative;
    }
  }
}

/*======================
    Media Play Button 
======================*/

.play-now {
	display: block;
	position: relative;
	z-index: 9;
	@include transition(all 300ms ease);
}

.play-now .icon{
	background-color: #ffffff;
	border-radius: 50%;
	box-shadow: 0  0px 10px 0 rgba(255, 255, 255, .3);
	color: var(--theme-color2);
	display: block;
	font-size: 18px;
	line-height: 85px;
	height: 85px;
	position: relative;
	text-align: center;
	width: 85px;
	z-index: 1;
	transform-origin:center; 
}

.play-now .ripple,
.play-now .ripple:before,
.play-now .ripple:after {
	animation: ripple 3s infinite;
	border-radius: 50%;
	box-shadow: 0 0 0 0 rgba(255, 255, 255, .6);
	height: 102px;
	left: 50%;
	position: absolute;
	top: 50%;
	width: 102px;
	transform: translate(-50%, -50%);
  &.light{
  	box-shadow: 0 0 0 0 rgba(255, 255, 255, 1);
  }
}

.play-now .ripple.light,
.play-now .ripple.light:before,
.play-now .ripple.light:after {
  box-shadow: 0 0 0 0 rgba(255, 255, 255, 1);
}
.play-now .ripple:before {
	-webkit-animation-delay: .9s;
	animation-delay: .9s;
	content: "";
	position: absolute;
}

.play-now .ripple:after {
	-webkit-animation-delay: .6s;
	animation-delay: .6s;
	content: "";
	position: absolute;
}

@keyframes ripple {
	70% {-webkit-box-shadow: 0 0 0 50px rgba(233, 35, 47, 0);box-shadow: 0 0 0 50px rgba(233, 35, 47, 0);}
	100% {-webkit-box-shadow: 0 0 0 0 rgba(233, 35, 47, 0);box-shadow: 0 0 0 0 rgba(233, 35, 47, 0);}
} 

.play-now-two {
  animation: zoom-one 3s infinite linear;
  background-color: rgba(21, 21, 21, .50);
  border-radius: 50%;
  color: #ffffff;
  font-size: 34px;
  height: 150px;
  @include flex-center;
  @include transition(all 300ms ease);
  width: 150px;
  &:hover {
    background-color: #ffffff;
    color: #ff9205;
  }
}

/*========================
  Select2 Dropdown Plugin
========================*/
.select2-dropdown{
  border: 1px solid #eee;
}
.select2-results__option {
  padding: 0 10px;
  color: #7c858c;
  border: 0;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
  color: #7c858c;
  padding-left: 0;
}
.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: var(--bg-theme-color1);
}
.select2-container--default .select2-search--dropdown .select2-search__field{
  height: 30px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow{
  bottom: 1px;
  height: auto;
  width: 40px;
  @include flex-center;
  font-size: 12px;
  color: #7c858c;
}
.select2-container--default .select2-selection--single .select2-selection__arrow:before{
  position: relative;
  content: "\f107";
  font-family: "Font Awesome 6 Pro";
}
.select2-container--default .select2-selection--single .select2-selection__arrow b{
  display:none;
}
.select2-container--default .select2-selection--single{
  border-radius: 0;
}
.default-navs{
  .owl-nav{
    display: flex;
    align-items: center;
  }
  .owl-next,
  .owl-prev {
    display: block;
    width: 52px;
    height: 52px;
    font-size: 16px;
    font-weight: 700;
    line-height: 52px;
    color: var(--theme-color-dark);
    background: #fff;
    text-align: center;
    transition: all 500ms ease;
    border-radius: 50%;
    margin-right: 10px;
    &:hover {
      background-color: var(--theme-color-dark);
      color: var(--theme-color-light);
    }
  }
}
.default-dots{
  .swiper-pagination{
    @include flex-center;
    width: 100%;
    .swiper-pagination-bullet{
      height: 14px;
      width: 14px;
      border: 2px solid #e7e7e7;
      background-color: #e7e7e7;
      opacity: 1;
      margin: 0 5px;
      @include transition(all 300ms ease);
      border-radius: 50%;
      &.swiper-pagination-bullet-active{
        background-color: var(--theme-color1) !important;
        border-radius: 50%;
        border: 2px solid var(--theme-color1) !important;
      }
    }
  }
}

/*==========================
	Nav Style One
===========================*/

.nav-style-one {
  align-items: center;
  display: flex;
  position: relative;
  z-index: 9;
  .next,
  .prev {
    display: flex;
    margin-right: 38px;
    padding: 18px 25px;
    padding-left: 0;
    .icon{
      display: inline-block;
      position: relative;
      &:before{
        border: 1px dotted #fff;
        border-radius: 100px;
        content: "";
        height: 52px;
        margin-top: -20px;
        position: absolute;
        right: -25px;
        top: 0;
        width: 52px;
        z-index: -1;
        @include transition(all 300ms ease);
      }
    }
    &:hover{
      .icon{
        &:before{
          background-color: rgba(255, 255, 255, .15);
          width: 125px;
        }
      }
    }
  }
  .prev{
    margin-right: 0;
    padding-left: 25px;
    padding-right: 0;
    .icon{
      &:before{
        left: -25px;
        right: auto;
      }
    }
  }
  .swiper-button-disabled{
    opacity: .5;
    pointer-events: none;
  }
  &.dark{
    .next,
    .prev{
      .icon{
        &:before{
          border: 1px solid #797979;
        }
      }
    }
  }
}

/*==========================
	Prelaoder
===========================*/
.preloader{ 
  background-color:#ffffff;
  height:100%; 
  left:0px; 
  position:fixed; 
  top:0px; 
  width:100%; 
  z-index:999999; 
} 
.preloader:after{ 
  background-position:center center; 
  background-repeat:no-repeat; 
  background-image:url(../images/icons/preloader.png);
  background-size: 100px;
  content: "";
  height: 100px;
  margin-left: -33px;
  margin-top: -40px;
  left: 50%;
  position: absolute;
  top: 50%;
  width: 100px;
}
// .preloader:before{
//   color: var(--theme-color-dark);
//   content: "Loading";
//   font-size: 12px;
//   font-weight: 700;
//   left: 0;
//   letter-spacing: 1px;
//   margin: 0 auto;
//   margin-top: 30px;
//   position: absolute;
//   right: 0;
//   top: 50%;
//   text-align: center;
//   text-transform: uppercase;
//   width: 100%;
//   -webkit-transition: none;
//   -o-transition: none;
//   transition: none;
// }


/*==========================
	Default Tabs
===========================*/

.default-tabs {
  position: relative;
  overflow: hidden;
  margin-bottom: 30px;
}
.default-tabs .tab-buttons {
  position: relative;
  margin-bottom: 30px;
}
.default-tabs .tab-buttons li {
  position: relative;
  float: left;
  font-weight: 600;
  font-size: 18px;
  padding: 15px 35px;
  color: var(--theme-color1);
  line-height: 20px;
  border-radius: 5px;
  background-color: #ffffff;
  cursor: pointer;
  margin-right: 20px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
  @include transition(all 300ms ease);
  @include transition(all 300ms ease);

  &:last-child {
    margin-right: 0;
  }
}
.default-tabs .tab-buttons li.active-btn {
  background: var(--gradient-1);
  color: #ffffff;
}
.default-tabs .tabs-content {
  position: relative;
  width: 100%;
}
.blockquote-style-one{
  position: relative;
  font-size: 16px;
  line-height: 24px;
  color: var(--theme-color-dark);
  padding: 13px 25px;
  background-color: #fff;
  box-shadow: none;
  @include title-font;
  font-weight: 800;
  margin-bottom: 30px;
  box-shadow: 0 0 30px rgba(0, 0, 0, .10);
  &:before{
    position: absolute;
    left: 0;
    top: 10px;
    bottom: 10px;
    width: 4px;
    z-index: 2;
    background-color: var(--theme-color1);
    content: "";
  }
}

/*================================
  Progress Bar
=================================*/

.skills {
  position: relative;
  margin-bottom: 50px;
  .skill-item {
    position: relative;
    margin-bottom: 25px;
    &:last-child {
      margin-bottom: 0px;
    }
    .skill-header {
      position: absolute;
      top: 10px;
      left: 18px;
      margin-bottom: 0px;
      z-index: 3;
      @include media-breakpoint-down(md){
        margin-bottom: 30px;
      }
      .skill-title {
        font-size: 20px;
        font-weight: 800;
        color: var(--theme-color2);
        margin-bottom: 10px;
        letter-spacing: -.04em;
      }
    }
    .skill-bar {
      position: relative;
      width: 100%;
      height: 7px;
      border-radius: 10px;
      .bar-inner {
        position: relative;
        width: 100%;
        height: 7px;
        background: var(--theme-color-light);
        border-radius: 10px;
        .bar {
          position: absolute;
          left: 0px;
          top: 0px;
          height: 7px;
          width: 0px;
          transition: all 3000ms ease;
          border-radius: 10px;
          background: #6511fa;
        }
        .skill-percentage {
          position: absolute;
          right: 20px;
          bottom: 10px;
          font-size: 14px;
          color: var(--theme-color-light);
        }
      }
    }
  }
  &.style-two {
    .skill-header {
      position: relative;
      top: 0;
      left: 0;
      margin-bottom: 0px;
      z-index: 3;
    }
    .skill-percentage {
      position: absolute;
      right: -40px !important;
      bottom: 100%;
      width: 40px;
      height: 21px;
      line-height: 21px;
      font-size: 12px;
      font-weight: 400;
      letter-spacing: .1em;
      border-radius: 6px 6px 6px 0;
      color: var(--theme-color-light);
      background-color: var(--theme-color-dark);
      margin-bottom: 10px;
      text-align: center;
      &:before {
        content: "";
        position: absolute;
        left: 0;
        bottom: -5px;
        width: 0;
        height: 0;
        border-right: 10px solid transparent;
        border-top: 5px solid var(--theme-color-dark);
        @include transition(all 300ms ease);
      }
    }
  }
}
.pie-graph {
  position: relative;
}
.pie-graph .graph-outer {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 0;
}
.pie-graph .graph-outer .inner-text {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 24px;
  color: var(--theme-color1);
  font-weight: 400;
  line-height: 1em;
}
.pie-graph .title {
  margin-bottom: 0;
}



/*================================
  Own Nav Custom
=================================*/
.owl-carousel.owl-theme{
  &.nav_none{
    .owl-nav{
      display: none;
    }
    .dots-nav{
      display: none;
    }
  }
}
.before_none{
  &:before{
    display: none;
  }
}
.appie-visible.active{
    overflow-x: hidden;
}
.rc-slider-track, .rc-slider-tracks{
    background-color: var(--theme-color1);
}
.rc-slider-handle{
    border-color: var(--theme-color1);
}
.rc-slider-handle:hover{
    border-color: var(--theme-color2);
}
.video-popup{
  &:hover{
    cursor: pointer;
  }
}

.modal-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #00000080;
    z-index: 1000000;
    cursor: pointer;
    opacity: 1;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    -webkit-animation-duration: .3s;
    animation-duration: .3s;
    -webkit-animation-name: modal-video;
    animation-name: modal-video;
    -webkit-transition: opacity .3s ease-out;
    transition: opacity .3s ease-out
}

.modal-video-effect-exit {
    opacity: 0
}

.modal-video-effect-exit .modal-video-movie-wrap {
    -webkit-transform: translate(0,100px);
    transform: translateY(100px)
}

.modal-video-body {
    max-width: 960px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

.modal-video-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    height: 100%
}

@media (orientation: landscape) {
    .modal-video-inner {
        padding:10px 60px;
        -webkit-box-sizing: border-box;
        box-sizing: border-box
    }
}

.modal-video-movie-wrap {
    width: 100%;
    height: 0;
    position: relative;
    padding-bottom: 56.25%;
    background-color: #333;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    -webkit-animation-duration: .3s;
    animation-duration: .3s;
    -webkit-animation-name: modal-video-inner;
    animation-name: modal-video-inner;
    -webkit-transform: translate(0,0);
    transform: translate(0);
    -webkit-transition: -webkit-transform .3s ease-out;
    transition: -webkit-transform .3s ease-out;
    transition: transform .3s ease-out;
    transition: transform .3s ease-out,-webkit-transform .3s ease-out
}

.modal-video-movie-wrap iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

.modal-video-close-btn {
    position: absolute;
    z-index: 2;
    top: -45px;
    right: 0;
    display: inline-block;
    width: 35px;
    height: 35px;
    overflow: hidden;
    border: none;
    background: transparent
}

@media (orientation: landscape) {
    .modal-video-close-btn {
        top:0;
        right: -45px
    }
}

.modal-video-close-btn:before {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg)
}

.modal-video-close-btn:after {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg)
}

.modal-video-close-btn:before,.modal-video-close-btn:after {
    content: "";
    position: absolute;
    height: 2px;
    width: 100%;
    top: 50%;
    left: 0;
    background: #fff;
    border-radius: 5px;
    margin-top: -6px
}