body.yellow-mode {
  @function hexToRGB($hex) {
    @return red($hex), green($hex), blue($hex);
  }

  //Define theme colors
  $theme-color1: #ffaa17;
  $theme-color2: #0f0f0f;
  $theme-color3: #24201f;

  // text color over theme color bg
  $text-color-over-bg-theme-color1: #000;
  $text-color-over-bg-theme-color2: #fff;
  $text-color-over-bg-theme-color3: #fff;

  //theme color
  --theme-color1: #{$theme-color1};
  --theme-color2: #{$theme-color2};
  --theme-color3: #{$theme-color3};

  --text-color-bg-theme-color1: #{$text-color-over-bg-theme-color1};
  --text-color-bg-theme-color2: #{$text-color-over-bg-theme-color2};
  --text-color-bg-theme-color3: #{$text-color-over-bg-theme-color3};

  --bg-theme-color1: var(--theme-color1);
  --bg-theme-color2: var(--theme-color2);
  --bg-theme-color3: var(--theme-color3);

  //theme colors RGB
  --theme-color1-rgb: #{hexToRGB($theme-color1)};
  --theme-color2-rgb: #{hexToRGB($theme-color2)};
  --theme-color3-rgb: #{hexToRGB($theme-color3)};

  --gradient-1: linear-gradient(to right, rgba(var(--theme-color1-rgb), 1) 0%, rgba(var(--theme-color1-rgb), 0.7) 100%);
  --gradient-2: linear-gradient(to left, rgba(var(--theme-color1-rgb), 1) 0%, rgba(var(--theme-color1-rgb), 0.7) 100%);
  --gradient-3: linear-gradient(-135deg, rgba(23, 23, 23, 0) 50%, var(--theme-color1) 100%);
}
